body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  box-sizing: border-box;
}

body{
  background-color: black;
  color: white;
  box-sizing: border-box;
  /* -moz-box-sizing: border-box; */
  /* -webkit-box-sizing: border-box; */
}

.App{
  width: 100%;
}

.btn{
  cursor: pointer;
  padding: 2px;
}

.btn:hover{
  background-color: rgba(255 , 255 , 255, 0.2);
  border-radius: 4px;
  transition: all 0.2s;
}

.btn:active{
  background-color: rgba(255 , 255 , 255, 0.2);
  /* background-color: red; */
  border-radius: 4px;
  transition: all 0.2s;
}

.right{
  margin-left: auto !important;
}

/* Header */
.header{
  width: 100%;
  border-bottom: 1px solid #222;
  background-color: black;
  padding: 0 16px;
  height: 56px;

  z-index: 3;

  display: flex;
  align-items: center;

  position: fixed;
  top: 0;

}

.title{

  font-size: 28px;
  margin: 4px 0;
  height: 54px;
  filter: invert() brightness(3);

}


/* statusBar */

.status-bar{

  position: relative;
  width: 100%;
  border-bottom: 1px solid #222222;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  /* background-color: red; */
  
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;

  z-index: 1;

}

.status-bar::-webkit-scrollbar {
  display: none;
}

.status-bar-shadow{
  position: absolute;
  left: 0;
  top : 0;
  z-index: 2;

  width: 100%;
  height: 100%;

  /* background-color: red; */

  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,0,0,0) 5%, rgba(255,0,0,0) 95%, rgba(0,0,0,1) 100%); 
  pointer-events: none;
}

.user-status{
  width: 76px;
  height: 76px;
  /* background-color: red; */
  margin: 8px;
  flex-shrink: 0;
  
}

.user-gradient{
  background: linear-gradient(245deg, rgb(226, 147, 73) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); 
  height: 100%;
  width: 100%;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.status-image{
  box-sizing: border-box;
  height: 95%;
  width: 95%;
  background-color: rebeccapurple;
  border-radius: 50%;
  border: black 4px solid;

  
}


/* bottomNav */
.bottom-nav{
  /* background-color: red; */
  width: 100%;
  height: 46px;

  /* border-top: 1px #333 solid; */

  display: flex;
  flex-direction: row;

}

.bottom-nav-mob > .bottom-nav{
  position: fixed;
  bottom: 0;  
  border-top: 1px #333 solid;
  background-color: black;
}

.bottom-nav-desk{
  margin-left: auto;
  margin-right: 25px;
}

.bottom-nav-desk > .bottom-nav > .nav-links{
  /* margin-left: 35px; */
  min-width: 60px;
}

.nav-links{
  /* background-color: red; */
  /* border: 2px solid black; */
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

}

.nav-icons{
  font-size: 24px;
}

.bottom-nav-image{
  width: 30px;
}

@media (min-width : 720px) {
  .bottom-nav-mob{
    display: none;
  }

  .bottom-nav-desk{
    display: block;
  }

}

@media (max-width : 720px) {
  .bottom-nav-mob{
    display: block;
  }

  .bottom-nav-desk{
    display: none;
  }
}


/* container */
.container{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 56px;

  transition: all 0.2s;
}

@media (max-width : 1000px) {
  
  .container{
    width: 80%;
  }

}

@media (max-width : 720px) {
  
  .container{
    width: 100%;
  }

}

/* post */
.post{
  width: 100%;
  margin-top: 16px;
}

.post-image-cont{
  width: 100%;
}

.post-image{
  width: 100%;

}

.post-header{
  display: flex;
  padding: 8px;
  padding-left: 8px;
  z-index: 10;
}

.post-user-img{
  width: 20px;
  margin: 0 8px;
}

.post-user-name{
  font-weight: 600;
}

.post-nav{
  width: 100%;
  font-size: 24px;

  margin-top: 8px;

  display: flex;
  flex-direction: row;

}

.post-nav-buttons{
  margin: 0 8px;
  display: block;
}

.post-desc{
  margin-top: 8px;
  padding: 0 12px;
  font-size: 14px;
}

.post-time{

  margin: 8px 0;

  font-size: 10px;
  color: #ccc;
}